h1,
p,
div {
    text-align: center;
    color: black;
}

h1 {
    font-size: 50em;
}

h1,
p,
div {
    font-family: Calibri;
}

div.background {
    background-color: white;
    border-radius: 10px;
}

div.background:hover {
    transform: scale(1);
}