@media (min-width:430px) {
    .drawer {
        visibility: hidden;
        width: 0%;
    }
}

@media (max-width:900px) {
    img{
        height: auto;
        width: 100%;
        align-content: center;
        padding: 10px;
    }
}

@media (min-width:900px) {
    img{
        height: auto;
        width: 50%;
        align-content: center;
        padding: 10px;
    }
}


/* Style the navbar */
#navbar {
    top: 0;
    height: 10%;
    width: 100%;
    overflow: hidden;
    background-color: #0070cc;
    position: sticky;
    display: inline-flex;
    list-style: none;
}

/* Navbar links */
#navbar a {
    float: left;
    display: block;
    color: #ffffff;
    text-align: center;
    padding: 14px;
    text-decoration: none;
}

#navbar a:hover {
    background-color: #608bad;
    transition-duration: 700ms;
}

.drawer {
    align-items: center !important;
    justify-content: center !important;
    text-align: center !important;
    display: flex;
}

.logo{
    text-align: right;
    justify-content: right;
    width: 15%;
    height: auto;
}

li:last-child{
    /* max-width: 15%; */
    justify-content: right;
}

footer{
    position: absolute;
    left: 0;
    /* bottom: 0; */
    width: 100%;
    background-color: #0070cc;
    text-align: center;
    margin: 0;
    padding: 0;
}